/*
 * GM Screen Main Stylesheet
 *
 * only edit .less file -- will automatically be converted by nodejs
 *
 * @author: Rein Baarsma <rein@solidwebcode.com>
 */

@import "/../bower_components/bootstrap/less/bootstrap";

@side-background: #990000;
@main-background: white;

@padding: 20px;
@side-width: 200px;
@side-width-min: 0;

.form-group-tight {
  .row;
  margin-bottom: 4px;
  margin-left: 0px !important;
  margin-right: 0px !important;
  [class*="col-"] {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }

}

gm-container {
  display: block;
  transition: all 0.5s ease;
  padding-left: @side-width;
}

gm-panels {
  display: block;
  position: relative;
  padding: 20px;
  width: 100%;
  background-color: @main-background;
  padding: @padding;
}

gm-side {
  display: block;
  width: @side-width;
  z-index: 10000;
  position: fixed;
  left: @side-width;
  margin-left: -@side-width;
  height: 100%;
  overflow-y: auto;
  float: right;
  transition: all 0.5s ease;
  background-color: @side-background;
  padding: @padding;
  color: white;
  border-left: 3px solid black;
}

gm-container.collapsed gm-side {
  width: @side-width-min;
  padding: 0;
}
gm-container.collapsed {
  padding-left: @side-width-min;
}

.row-tight {
  [class*="col-"] {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
}

.control-label {
  padding-top: 3px;
  margin-bottom: 0;
}

.dl-horizontal dt {
  width: 75px;
}
.dl-horizontal dd {
  margin-left: 85px;
}

.form-control {
  padding: 0px 8px;
  height: 22px;
}

h5 {
  font-size: 110%;
  font-weight: bold;
}

tag {
  padding-right: 5px;
}
tag button.label {
  margin: 0;
}

npc-panel-body {
  display: block;
  .panel-body;
}

button {
  .btn;
  .btn-primary;
}

input {
  color: black;
}

.loading {
  .opacity(20);
  color: #aaa;
}

.modal {
  display: block;
}

.modal-backdrop {
  width: 100%;
  height: 100%;
  opacity: .5;
}

npc-item {
  display:block;
}

npc-panel {
  display: block;
}
npc-panel {
  .make-md-column(4);
  padding: 0;
}
npc-panel.maximized {
  .make-md-column(12);
  padding: 0;
}

npc-panel.maximized npc-panel-column {
  .make-sm-column(3);
}
npc-panel-column {
  .make-sm-column(12);
}

npc-panel-body {
  padding-left: 0;
}

npc-panel npc-panel-column {
  padding-right: 0 !important;
}

npc-section {
  display: block;
}
npc-panel-column {
  display: block;
  min-height: 100px !important;
}
.section-placeholder {
  display: block;
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
}

.ui-draggable-dragging {
  .panel;
  .panel-primary;
  border-style: dotted;
  width: 300px;
  height: 200px;
}
.ui-draggable-dragging button { display: none; }