extends layout

block head
    title Gm Screen
    script(type="text/javascript", src="/bower_components/angularjs/angular.js")
    script(type="text/javascript", src="/bower_components/ng-file-upload/angular-file-upload.js")

block content
    npc-container(ng-controller="npcController" ng-class="{'collapsed': user.side_collapsed}")
        div(ng-show="loaded == total_to_load")
            npc-side(npcs="npcs", user="user", addToPanel="addToPanel(npc)")
            npc-main
                npc-header
                    button(ng-click="toggleSide()",tabindex=2).btn-primary
                        i.glyphicon.glyphicon-menu-hamburger
                        span  Menu
                    button(ng-click="npc_new_visible = true",tabindex=3).btn-primary
                        i.glyphicon.glyphicon-plus
                        span  Create NPC
                    button(ng-click="gm_settings_visible = true",tabindex=4).btn-primary
                        i.glyphicon.glyphicon-cog
                        span  Settings
                gm-panels
            npc-modals
                npc-edit(visible="npc_edit_visible")
                npc-new(config="config", visible="npc_new_visible")
        progress(ng-hide="loaded == total_to_load",value="{{ loaded }}",max="{{ total_to_load }}")

    script(type="text/javascript", src="/bower_components/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/javascripts/npc-collection.js")
    script(type="text/javascript", src="/javascripts/gm.js")