<div class="modal modal-overflow" ng-show="npcEditCtrl.visible" ng-init="npcEditCtrl.visible = false">
    <div class="modal-backdrop" ng-show="npcEditCtrl.visible"></div>
    <div class="modal-dialog modal-dialog-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-click="npcEditCtrl.visible = false" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">{{ npc.name }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <panel npc="npc" title="Image">
                            <div class="form-group">
                                <input type="file" ng-file-select ng-file-change="npcEditCtrl.onFileSelect(npc, $files);" accept="image/png, image/jpeg, image/gif">
                                <img class="img-responsive" ng-model="npc._picture_id" ng-show="npc._picture_id" ng-src="/npcs/{{ npc._id }}/picture?{{ npc._picture_id }}">
                            </div>
                        </panel>
                        <panel npc="npc" title="stats">
                            <table class="table table-condensed">
                                <tr>
                                    <th></th>
                                    <th>Stat</th>
                                    <th>Mod</th>
                                    <th>Saving Throw</th>
                                </tr>
                                <tr ng-repeat="stat in npc.stats">
                                    <td>{{ stat.name }}</td>
                                    <td><input class="form-control" type="number" min="1" max="30" ng-change="npcEditCtrl.changeStat(npc, stat)" ng-model="npc.stats[$index].stat"></td>
                                    <td>({{ stat.mod|modifier }})</td>
                                    <td>
                                        <button class='btn btn-xs' ng-click="npcEditCtrl.toggleSave(npc, $index)"><i class="glyphicon {{ npcEditCtrl.hasSave(npc, $index) ? 'glyphicon-star' : 'glyphicon-star-empty' }}"></i></button>
                                        {{ (stat.mod + (npcEditCtrl.hasSave(npc, $index) ? npc.prof : 0))|modifier }}
                                    </td>
                                </tr>
                            </table>
                        </panel>
                        <panel npc="npc" title="Attacks">
                            <div ng-repeat="attack in npc.attacks">
                                <button class="pull-right btn btn-xs btn-danger" ng-click="npcEditCtrl.removeClass(npc, $index)"><i class="glyphicon glyphicon-remove"></i></button>
                                <h5>Attack #{{$index+1}}</h5>
                                <div class="form-group-tight">
                                    <label class="col-sm-3 control-label" for="attack-name">Name</label>
                                    <div class="col-sm-9"><input class="form-control" id="attack-name" ng-model="attack.name" ng-change="npcEditCtrl.npcChange('attacks')"></div>
                                </div>
                                <div class="form-group-tight">
                                    <label class="col-sm-3 control-label" for="attack-bonus">Bonus</label>
                                    <div class="col-sm-3"><input class="form-control" id="attack-bonus" type="number" ng-model="attack.bonus" ng-change="npcEditCtrl.npcChange('attacks')"></div>
                                    <label class="col-sm-3 control-label" for="attack-damage">Damage</label>
                                    <div class="col-sm-3"><input class="form-control" id="attack-damage" ng-model="attack.damage" ng-change="npcEditCtrl.npcChange('attacks')"></div>
                                </div>
                                <div class="form-group-tight">
                                    <label class="col-sm-3 control-label" for="attack-special">Special</label>
                                    <div class="col-sm-9"><input class="form-control" id="attack-special" ng-model="attack.special" ng-change="npcEditCtrl.npcChange('attacks')"></div>
                                </div>
                            </div>
                            <button ng-show="section.edit" class="btn btn-success btn-sm" ng-click="npcEditCtrl.addAttack(npc)"><i class="glyphicon glyphicon-plus-sign"></i> Add Attack</button>
                        </panel>
                    </div>
                    <div class="col-md-3">
                        <panel npc="npc" title="Base">
                            <div class="form-group-tight">
                                <label class="col-sm-5 control-label" for="hp">HP</label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="hp" type="number" ng-disabled="npcEditCtrl.isLocked('hp')" ng-model="npc.hp" ng-change="npcEditCtrl.npcChange('hp')">
                                </div>
                                <button class="col-sm-1 btn btn-xs {{ npcEditCtrl.isLocked('hp') ? 'btn-warning' : 'btn-default'}}" ng-click="npcEditCtrl.toggleLocked('hp')"><i class="glyphicon glyphicon-lock"></i></button>
                            </div>
                            <div class="form-group-tight">
                                <label class="col-sm-5 control-label" for="ac">AC</label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="ac" type="number" ng-disabled="npcEditCtrl.isLocked('ac')" ng-model="npc.ac" ng-change="npcEditCtrl.npcChange('ac')">
                                </div>
                                <button class="col-sm-1 btn btn-xs {{ npcEditCtrl.isLocked('ac') ? 'btn-warning' : 'btn-default'}}" ng-click="npcEditCtrl.toggleLocked('ac')"><i class="glyphicon glyphicon-lock"></i></button>
                            </div>
                            <div class="form-group-tight">
                                <label class="col-sm-5 control-label" for="it">IT</label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="it" type="number" ng-disabled="npcEditCtrl.isLocked('it')" ng-model="npc.it" ng-change="npcEditCtrl.npcChange('it')">
                                </div>
                                <button class="col-sm-1 btn btn-xs {{ npcEditCtrl.isLocked('it') ? 'btn-warning' : 'btn-default'}}" ng-click="npcEditCtrl.toggleLocked('it')"><i class="glyphicon glyphicon-lock"></i></button>
                            </div>
                            <div class="form-group-tight">
                                <label class="col-sm-5 control-label" for="prof">Prof. Bonus</label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="prof" type="number" ng-disabled="npcEditCtrl.isLocked('prof')" ng-model="npc.prof" ng-change="npcEditCtrl.npcChange('prof')">
                                </div>
                                <button class="col-sm-1 btn btn-xs {{ npcEditCtrl.isLocked('prof') ? 'btn-warning' : 'btn-default'}}" ng-click="npcEditCtrl.toggleLocked('prof')"><i class="glyphicon glyphicon-lock"></i></button>
                            </div>

                            <div class="form-group-tight">
                                <label class="control-label col-sm-5" for="npc-race">Race</label>
                                <div class="col-sm-7">
                                    <select class="form-control" ng-change="npcEditCtrl.npcChange('race')" id="npc-race" name="npc-race" ng-model="npc.race.name" ng-options="rc.name as rc.name group by rc.race for rc in config.RACES"></select>
                                </div>
                            </div>

                            <hr>
                            <div ng-repeat="class in npc.classes">
                                <button class="pull-right btn btn-xs btn-danger" ng-click="npcEditCtrl.removeClass(npc, $index)"><i class="glyphicon glyphicon-remove"></i></button>
                                <h5>Class #{{$index+1}}</h5>
                                <div class="form-group-tight">
                                    <label class="control-label col-sm-2" for="npc-class{{ $index }}">Name</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-change="npcEditCtrl.npcChange('classes')" id="npc-class{{ $index }}" name="npc-class{{ $index }}" ng-model="class.name" ng-options="cls.name as cls.name for cls in config.CLASSES"></select>
                                    </div>
                                    <label class="control-label col-sm-2" for="npc-class-level{{ $index }}">Level</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" ng-change="npcEditCtrl.npcChange('classes')" id="npc-class-level{{ $index }}" type="number" min="1" max="20" ng-model="class.level">
                                    </div>
                                </div>
                                <div class="form-group-tight">
                                    <label class="control-label col-sm-2" for="npc-class-feature{{ $index }}">Path</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-change="npcEditCtrl.npcChange('classes')" id="npc-class-feature{{ $index }}" name="npc-feature{{ $index }}" ng-model="class.path" ng-options="path as path for path in config.CLASSES[class.index].paths"></select>
                                    </div>
                                    <label ng-show="config.CLASSES[class.index].fighting_styles.length > 0" class="col-sm-2" for="npc-class-style{{ $index }}">Style</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-show="config.CLASSES[class.index].fighting_styles.length > 0" ng-change="npcEditCtrl.npcChange('classes')" id="npc-class-style[$index]" name="npc-fighting-style[$index]" ng-model="class.fighting_style" ng-options="style as style for style in config.CLASSES[class.index].fighting_styles"></select>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success btn-sm" ng-click="npcEditCtrl.addClass(npc)"><i class="glyphicon glyphicon-plus-sign"></i> Add Class</button>
                        </panel>
                        <panel npc="npc" title="Cosmetics">
                            <div class="form-group-tight">
                                <label class="control-label col-sm-5" for="npc-race">Name</label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" ng-model="npc.name" ng-change="npcEditCtrl.npcChange('classes');">
                                </div>
                            </div>
                            <div class="form-group-tight">
                                <label class="control-label col-sm-5" for="npc-alignment">Alignment</label>
                                <div class="col-sm-7">
                                    <select class="form-control" ng-change="npcEditCtrl.npcChange('alignment')" id="npc-alignment" name="npc-alignment" ng-model="npc.alignment" ng-options="al as al for al in config.ALIGNMENTS"></select>
                                </div>
                            </div>
                        </panel>
                        <panel npc="npc" title="Equipment">
                            <div class="form-group-tight">
                                <div class="col-sm-8">
                                    <div class="form-group-tight">
                                        <label class="col-sm-3 control-label" for="npc-armor">Armor</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" id="npc-armor" ng-model="npc.armor.name" ng-change="npcEditCtrl.npcChange('armor')">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group-tight">
                                        <label class="col-sm-5 control-label" for="npc-armor-ac">AC</label>
                                        <div class="col-sm-7">
                                            <input class="form-control" type="number" id="npc-armor-ac" ng-model="npc.armor.ac" ng-change="npcEditCtrl.npcChange('armor')">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-tight">
                                <div class="col-sm-8">
                                    <div class="form-group-tight">
                                        <label class="col-sm-3 control-label" for="npc-shield">Shield</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" id="npc-shield" ng-model="npc.shield.name" ng-change="npcEditCtrl.npcChange('shield')">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group-tight">
                                        <label class="col-sm-5 control-label" for="npc-shield-ac">AC</label>
                                        <div class="col-sm-7">
                                            <input class="form-control" type="number" id="npc-shield-ac" ng-model="npc.shield.ac" ng-change="npcEditCtrl.npcChange('shield')">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-tight" ng-repeat="weapon in npc.weapons track by $index">
                                <div class="col-sm-4 col-md-5">
                                    <input class="form-control" type="text" ng-model="npc.weapons[$index].name" ng-change="npcEditCtrl.npcChange('weapons')" placeholder="..name">
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" ng-model="npc.weapons[$index].type" ng-options="tp for tp in ['melee','ranged']" ng-change="npcEditCtrl.recalculate(npc)"></select>
                                </div>
                                <div class="col-sm-3">
                                    <input class="form-control" type="text" ng-model="npc.weapons[$index].damage" ng-change="npcEditCtrl.npcChange('weapons')" placeholder="1d8">
                                </div>
                                <button class="col-sm-2 col-md-1 btn btn-xs btn-danger" ng-click="npc.weapons.splice($index, 1); NPCCollection.update(npc);"><i class="glyphicon glyphicon-remove"></i></button>
                            </div>
                            <button class="btn btn-success btn-sm" ng-click="npc.weapons.push('')"><i class="glyphicon glyphicon-plus-sign"></i> Add Weapon</button>
                        </panel>
                        <panel npc="npc" title="Features">
                            <div ng-repeat="feature in npc.features track by $index">
                                <div class="form-group-tight">
                                    <div class="col-sm-10 col-md-11">
                                        <input class="form-control" ng-model="npc.features[$index]" ng-change="npcEditCtrl.npcChange('features')">
                                    </div>
                                    <button class="col-sm-2 col-md-1 btn btn-xs btn-danger" ng-click="npc.features.splice($index, 1); NPCCollection.update(npc);"><i class="glyphicon glyphicon-remove"></i></button>
                                </div>
                            </div>
                            <button class="btn btn-success btn-sm" ng-click="npc.features.push('')"><i class="glyphicon glyphicon-plus-sign"></i> Add Feature</button>
                        </panel>
                    </div>
                    <div class="col-md-3">
                        <panel npc="npc" title="Skills">
                            <div ng-repeat="skill in npc.skills">
                                <div class="form-group-tight">
                                    <label class="sr-only">Skill</label>
                                    <div class="col-sm-7 col-md-9">
                                        <select class="form-control" ng-model="skill.name" ng-change="npcEditCtrl.changeSkill(npc)" ng-options="skl.name as skl.name for skl in config.SKILLS"></select>
                                    </div>
                                    <label class="sr-only">Mod</label>
                                    <div class="col-sm-3 col-md-2">
                                        <input class="form-control" type="number" ng-model="skill.mod" ng-change="npcEditCtrl.changeSkill(npc)">
                                    </div>
                                    <button class="col-sm-2 col-md-1 btn btn-xs btn-danger" ng-click="npc.skills.splice($index, 1); npcEditCtrl.npcChange('skills')"><i class="glyphicon glyphicon-remove"></i></button>
                                </div>
                            </div>
                            <button class="btn btn-success btn-sm" ng-click="npc.skills.push({name: 'Athletics', mod: 0})"><i class="glyphicon glyphicon-plus-sign"></i> Add Skill</button>
                        </panel>
                        <panel npc="npc" title="Spells">
                            <dl class="dl-horizontal" ng-show="npc.spells_day.length > 0">
                                <dt>Spells/day</dt>
                                <dd>{{ npc.spells_day|join:'/' }}</dd>
                            </dl>
                            <div ng-repeat="class in npc.classes" ng-show="class.spells.length > 0">
                                <h5>{{ class.name }}</h5>
                                <dl class="dl-horizontal">
                                    <dt>Spell DC</dt>
                                    <dd>{{ class.spelldc }} + spell level</dd>
                                    <dt>Cantrips</dt>
                                    <dd>
                                        <div ng-repeat="cantrip in class.cantrips" ng-init="">
                                            {{ cantrip }}
                                            <button ng-click="class.cantrips.splice($index,1); npcEditCtrl.npcChange('classes');" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
                                        </div>
                                        <select class="form-control" ng-model="npcEditCtrl.cantrip_to_add" ng-change="npcEditCtrl.addCantrip(class.cantrips)" ng-options="cantrip as cantrip for cantrip in config.CLASSES[class.index].cantrips"><option value="">.. add a cantrip</option></select>
                                    </dd>
                                    <dt>Spells</dt>
                                    <dd>
                                        <div ng-repeat="spell in class.spells" ng-init="">
                                            {{ spell }}
                                            <button ng-click="class.spells.splice($index,1); npcEditCtrl.npcChange('classes');" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
                                        </div>
                                        <select class="form-control" ng-model="npcEditCtrl.spell_to_add" ng-change="npcEditCtrl.addSpell(class.spells)" ng-options="rc.name as rc.name group by rc.lvl for rc in config.CLASSES[class.index].spells"><option value="">.. add a spell</option></select>
                                    </dd>
                                </dl>
                            </div>
                            <div ng-show="npc.race.spells.length > 0">
                                <h5>Race</h5>
                                <dl class="dl-horizontal">
                                    <dt>Spell DC</dt>
                                    <dd>{{ npc.race.spelldc }} + spell level</dd>
                                    <dt>Spells</dt>
                                    <dd>{{ npc.race.spells|join:', ' }}</dd>
                                </dl>
                            </div>
                        </panel>
                    </div>
                    <div class="col-md-3">
                        <panel npc="npc" title="Background">
                            <div class="form-group-tight">
                                <label class="control-label col-sm-5" for="npc-background">Background</label>
                                <div class="col-sm-7">
                                    <select class="form-control" ng-change="npcEditCtrl.npcChange('background')" id="npc-background" name="npc-background" ng-model="npc.background.name" ng-options="bg.name as bg.name for bg in config.BACKGROUNDS"></select>
                                </div>
                            </div>

                            <div class="form-group-tight">
                                <label class="control-label" for="npc-background-speciality">Speciality</label>
                                <input class="form-control" type="text" id="npc-background-speciality" rows="3" ng-model="npc.background.speciality" ng-change="">
                            </div>
                            <div class="form-group-tight">
                                <label class="control-label" for="npc-background-personality">Personality</label>
                                <div><textarea class="form-control" rows="3" id="npc-background-personality" ng-model="npc.background.personality" ng-change="npcEditCtrl.npcChange('background')"></textarea></div>
                            </div>
                            <div class="form-group-tight">
                                <label class="control-label" for="npc-background-ideal">Ideal</label>
                                <div><textarea class="form-control" rows="3" id="npc-background-ideal" ng-model="npc.background.ideal" ng-change="npcEditCtrl.npcChange('background')"></textarea></div>
                            </div>
                            <div class="form-group-tight">
                                <label class="control-label" for="npc-background-bond">Bond</label>
                                <div><textarea class="form-control" rows="3" id="npc-background-bond" ng-model="npc.background.bond" ng-change="npcEditCtrl.npcChange('background')"></textarea></div>
                            </div>
                            <div class="form-group-tight">
                                <label class="control-label" for="npc-background-flaw">Flaw</label>
                                <div><textarea class="form-control" rows="3" id="npc-background-flaw" ng-model="npc.background.flaw" ng-change="npcEditCtrl.npcChange('background')"></textarea></div>
                            </div>
                        </panel>
                        <panel npc="npc" title="Notes">
                            <div class="form-group">
                                <label for="npc-notes">Notes</label>
                                <div>
                                    <textarea class="form-control" id="npc-notes" rows="10" ng-model="npc.notes" ng-change="npcEditCtrl.npcChange('notes')"></textarea>
                                </div>
                            </div>
                            <h5>Tags</h5>
                            <div class="form-group-tight" ng-repeat="tag in npc.tags">
                                <div class="col-sm-10 col-md-11">
                                    <input class="form-control" ng-model="npc.tags[$index]" ng-change="npcEditCtrl.npcChange('tags')">
                                </div>
                                <button class="col-sm-2 col-md-1 btn btn-xs btn-danger" ng-click="npc.tags.splice($index, 1); npcEditCtrl.npcChange('tags')"><i class="glyphicon glyphicon-remove"></i></button>
                            </div>
                            <button ng-click="npc.tags.push('')" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus"></i>Add Tag</button>
                        </panel>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>