<div class="row">
    <div class="col-md-4" ng-class="{ loading: panelCtrl.npc.loading }" ng-repeat="npc in npcs" ng-show="npc.in_panel">
        <npc-panel class="npc-panel panel panel-primary">
            <div class="panel-heading">
                <button class="btn btn-xs btn-danger pull-right" ng-click="panelCtrl.remove(npc)"><i class="glyphicon glyphicon-remove"></i></button>
                <h3 class="panel-title">{{ npc.name }}</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="col-sm-5" for="npc-race">Race</label>
                        <select ng-change="panelCtrl.changeRace(npc)" class="col-sm-7" id="npc-race" name="npc-race" ng-model="npc.race.name" ng-options="rc.name as rc.name group by rc.race for rc in config.RACES"></select>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Classes
                            <button class="pull-right btn btn-xs"><i class="glyphicon glyphicon-minus"></i></button>
                            <button class="pull-right btn btn-xs" ng-click="panelCtrl.randomize('stats', $index)"><i class="glyphicon glyphicon-repeat"></i></button>
                            <button class="pull-right btn btn-xs btn-success" ng-click="panelCtrl.addClass(npc)"><i class="glyphicon glyphicon-plus-sign"></i></button>
                        </div>
                        <div class="panel-body">

                            <div ng-repeat="class in npc.classes">
                                <div class="form-group row">
                                    <label class="col-sm-2" for="npc-class{{ $index }}">Class</label>
                                    <select ng-change="panelCtrl.recalculate(npc)" class="col-sm-3" id="npc-class{{ $index }}" name="npc-class{{ $index }}" ng-model="class.name" ng-options="cls.name as cls.name for cls in config.CLASSES"></select>
                                    <input ng-change="panelCtrl.changeLevel(npc)" class="col-sm-3" type="number" min="1" max="20" ng-model="class.level">
                                    <button class="col-sm-2 btn btn-xs btn-danger" ng-click="panelCtrl.removeClass(npc, $index)"><i class="glyphicon glyphicon-remove"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button ng-click="panelCtrl.randomize('all', $index)">Randomize everything</button>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Stats
                            <button class="pull-right btn btn-xs"><i class="glyphicon glyphicon-minus"></i></button>
                            <button class="pull-right btn btn-xs" ng-click="panelCtrl.randomize('stats', $index)"><i class="glyphicon glyphicon-repeat"></i></button>
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="stat in npc.stats">
                                {{ stat.name }}:
                                <input type="number" ng-change="panelCtrl.changeStat(npc, stat)" ng-model="npc.stats[$index].stat" value="{{ stat.stat }}">
                                ({{ stat.mod|modifier }})
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Abilities
                            <button class="pull-right btn btn-xs"><i class="glyphicon glyphicon-minus"></i></button>
                        </div>
                        <div class="panel-body">

                            <div>HP: {{ npc.hp }}</div>
                            <div>AC: {{ npc.ac }}</div>
                            <div>IT: {{ npc.it }}</div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Skills
                                <button class="pull-right btn btn-xs"><i class="glyphicon glyphicon-minus"></i></button>
                                <button class="pull-right btn btn-xs" ng-click="panelCtrl.randomize('skills', $index)"><i class="glyphicon glyphicon-repeat"></i></button>
                            </div>
                            <div class="panel-body">
                                <div ng-repeat="skill in npc.skills">
                                    <select ng-change="panelCtrl.changeSkill(npc)" class="col-sm-3" name="npc-skill{{ $index }}" ng-model="skill.name" ng-options="skl.name as skl.name for skl in config.SKILLS"></select>
                                    {{ skill.mod|modifier }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Equipment
                                <button class="pull-right btn btn-xs"><i class="glyphicon glyphicon-minus"></i></button>
                                <button class="pull-right btn btn-xs" ng-click="panelCtrl.randomize('equipment', $index)"><i class="glyphicon glyphicon-repeat"></i></button>
                            </div>
                            <div class="panel-body">
                                <div><b>Armors</b>:
                                <span class="text-capitalize" ng-repeat="armor in npc.armors">
                                    {{ armor.name }}{{$last ? '' : ', '}}
                                </span>
                                <div ng-repeat="weapon in npc.weapons">
                                    <b class="text-capitalize">{{ weapon.type }}</b>: {{ weapon.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Background
                            <button class="pull-right btn btn-xs"><i class="glyphicon glyphicon-minus"></i></button>
                            <button class="pull-right btn btn-xs" ng-click="panelCtrl.randomize('background', $index)"><i class="glyphicon glyphicon-repeat"></i></button>
                        </div>
                        <div class="panel-body">
                            <h3>{{ npc.background.name }}</h3>
                            <div ng-show="npc.background.speciality"><i>{{ npc.background.speciality }}</i></div>
                            <div><b>Personality</b>: {{ npc.background.personality }}</div>
                            <div><b>Ideal</b>: {{ npc.background.ideal }}</div>
                            <div><b>Bond</b>: {{ npc.background.bond }}</div>
                            <div><b>Flaw</b>: {{ npc.background.flaw }}</div>
                        </div>
                    </div>
                </form>
            </div>
        </npc-panel>
    </div>
</div>