<div class="form-group">
    <label class="col-sm-5" for="hp">HP</label>
    <input class="col-sm-5" id="hp" type="number" ng-disabled="panelCtrl.isLocked('hp')" ng-model="npc.hp" ng-change="panelCtrl.recalculate(npc);">
    <button class="col-sm-1 btn btn-xs {{ panelCtrl.isLocked('hp') ? 'btn-warning' : 'btn-default'}}" ng-click="panelCtrl.toggleLocked('hp')"><i class="glyphicon glyphicon-lock"></i></button>
    <label class="col-sm-5" for="ac">AC</label>
    <input class="col-sm-5" id="ac" type="number" ng-disabled="panelCtrl.isLocked('ac')" ng-model="npc.ac" ng-change="panelCtrl.recalculate(npc);">
    <button class="col-sm-1 btn btn-xs {{ panelCtrl.isLocked('ac') ? 'btn-warning' : 'btn-default'}}" ng-click="panelCtrl.toggleLocked('ac')"><i class="glyphicon glyphicon-lock"></i></button>
    <label class="col-sm-5" for="it">IT</label>
    <input class="col-sm-5" id="it" type="number" ng-disabled="panelCtrl.isLocked('it')" ng-model="npc.it" ng-change="panelCtrl.recalculate(npc);">
    <button class="col-sm-1 btn btn-xs {{ panelCtrl.isLocked('it') ? 'btn-warning' : 'btn-default'}}" ng-click="panelCtrl.toggleLocked('it')"><i class="glyphicon glyphicon-lock"></i></button>
    <label class="col-sm-5" for="prof">Prof. Bonus</label>
    <input class="col-sm-5" id="prof" type="number" ng-disabled="panelCtrl.isLocked('prof')" ng-model="npc.prof" ng-change="panelCtrl.recalculate(npc);">
    <button class="col-sm-1 btn btn-xs {{ panelCtrl.isLocked('prof') ? 'btn-warning' : 'btn-default'}}" ng-click="panelCtrl.toggleLocked('prof')"><i class="glyphicon glyphicon-lock"></i></button>
</div>