<div ng-repeat="attack in npc.attacks">
    <div class="form-group">
        <label class="col-sm-5" for="attack-name">Name</label>
        <input class="col-sm-7" id="attack-name" ng-model="attack.name" ng-change="panelCtrl.recalculate(npc);">
        <label class="col-sm-5" for="attack-bonus">Bonus</label>
        <input class="col-sm-7" id="attack-bonus" type="number" ng-model="attack.bonus" ng-change="panelCtrl.recalculate(npc);">
        <label class="col-sm-5" for="attack-damage">Damage</label>
        <input class="col-sm-7" id="attack-damage" ng-model="attack.damage" ng-change="panelCtrl.recalculate(npc);">
        <label class="col-sm-5" for="attack-special">Special</label>
        <input class="col-sm-7" id="attack-special" ng-model="attack.special" ng-change="panelCtrl.recalculate(npc);">
    </div>
</div>
<button ng-show="section.edit" class="btn btn-success btn-sm" ng-click="panelCtrl.addAttack(npc)"><i class="glyphicon glyphicon-plus-sign"></i> Add Attack</button>