<div><h4>{{ npc.background.name}}</h4></div>
<div class="form-group-tight">
    <label class="control-label" for="npc-background-speciality">Speciality</label>
    <div><input class="form-control" type="text" id="npc-background-speciality" rows="3" ng-model="npc.background.speciality" ng-change="console.log(this);></div>
</div>
<div class="form-group-tight">
    <label class="control-label" for="npc-background-personality">Personality</label>
    <div><textarea class="form-control" rows="3" id="npc-background-personality" ng-model="npc.background.personality" ng-change="panelCtrl.npcChange('background')"></textarea></div>
</div>
<div class="form-group-tight">
    <label class="control-label" for="npc-background-ideal">Ideal</label>
    <div><textarea class="form-control" rows="3" id="npc-background-ideal" ng-model="npc.background.ideal" ng-change="panelCtrl.npcChange('background')"></textarea></div>
</div>
<div class="form-group-tight">
    <label class="control-label" for="npc-background-bond">Bond</label>
    <div><textarea class="form-control" rows="3" id="npc-background-bond" ng-model="npc.background.bond" ng-change="panelCtrl.npcChange('background')"></textarea></div>
</div>
<div class="form-group-tight">
    <label class="control-label" for="npc-background-flaw">Flaw</label>
    <div><textarea class="form-control" rows="3" id="npc-background-flaw" ng-model="npc.background.flaw" ng-change="panelCtrl.npcChange('background')"></textarea></div>
</div>