<table class="table table-condensed">
    <tr>
        <th></th>
        <th>Stat</th>
        <th>Mod</th>
        <th colspan="2">Saving Throw</th>
    </tr>
    <tr ng-repeat="stat in npc.stats">
        <td>{{ stat.name }}</td>
        <td><input type="number" min="1" max="30" ng-change="panelCtrl.changeStat(npc, stat)" ng-model="npc.stats[$index].stat" value="{{ stat.stat }}"></td>
        <td>({{ stat.mod|modifier }})</td>
        <td>
            <button class='btn btn-xs' ng-click="panelCtrl.toggleSave(npc, $index)"><i class="glyphicon {{ panelCtrl.hasSave(npc, $index) ? 'glyphicon-star' : 'glyphicon-star-empty' }}"></i></button>
            {{ (stat.mod + (panelCtrl.hasSave(npc, $index) ? npc.prof : 0))|modifier }}
        </td>
    </tr>
</table>