<div ng-repeat="skill in npc.skills">
    <div class="form-group-tight">
        <label class="sr-only">Skill</label>
        <div class="col-sm-7 col-md-9">
            <select class="form-control" ng-model="skill.name" ng-change="panelCtrl.changeSkill(npc)" ng-options="skl.name as skl.name for skl in config.SKILLS"></select>
        </div>
        <label class="sr-only">Mod</label>
        <div class="col-sm-3 col-md-2">
            <input class="form-control" type="number" ng-model="skill.mod" ng-change="panelCtrl.changeSkill(npc)">
        </div>
        <button class="col-sm-2 col-md-1 btn btn-xs btn-danger" ng-click="npc.skills.splice($index, 1); panelCtrl.npcChange('skills')"><i class="glyphicon glyphicon-remove"></i></button>
    </div>
</div>
<button class="btn btn-success btn-sm" ng-click="npc.skills.push({name: 'Athletics', mod: 0})"><i class="glyphicon glyphicon-plus-sign"></i> Add Skill</button>