<dl class="dl-horizontal" ng-show="npc.spells_day.length > 0">
    <dt>Spells/day</dt>
    <dd>{{ npc.spells_day|join:'/' }}</dd>
</dl>
<div ng-repeat="class in npc.classes" ng-show="class.spells.length > 0">
    <h5>{{ class.name }}</h5>
    <dl class="dl-horizontal">
        <dt>Spell DC</dt>
        <dd>{{ class.spelldc }} + spell level</dd>
        <dt>Cantrips</dt>
        <dd>
            <div ng-repeat="cantrip in class.cantrips" ng-init="">
                {{ cantrip }}
                <button ng-click="class.cantrips.splice($index,1); panelCtrl.npcChange('classes');" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
            <select class="form-control" ng-model="panelCtrl.cantrip_to_add" ng-change="panelCtrl.addCantrip(class.cantrips)" ng-options="cantrip as cantrip for cantrip in config.CLASSES[class.index].cantrips"><option value="">.. add a cantrip</option></select>
        </dd>
        <dt>Spells</dt>
        <dd>
            <div ng-repeat="spell in class.spells" ng-init="">
                {{ spell }}
                <button ng-click="class.spells.splice($index,1); panelCtrl.npcChange('classes');" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
            <select class="form-control" ng-model="panelCtrl.spell_to_add" ng-change="panelCtrl.addSpell(class.spells)" ng-options="rc.name as rc.name group by rc.lvl for rc in config.CLASSES[class.index].spells"><option value="">.. add a spell</option></select>
        </dd>
    </dl>
</div>
<div ng-show="npc.race.spells.length > 0">
    <h5>Race</h5>
    <dl class="dl-horizontal">
        <dt>Spell DC</dt>
        <dd>{{ npc.race.spelldc }} + spell level</dd>
        <dt>Spells</dt>
        <dd>{{ npc.race.spells|join:', ' }}</dd>
    </dl>
</div>