<dl class="dl-horizontal" ng-show="npc.spells_day.length > 0">
    <dt>Spells/day</dt>
    <dd>{{ npc.spells_day|join:'/' }}</dd>
</dl>
<div ng-repeat="class in npc.classes" ng-show="class.spells.length > 0">
    <h5>{{ class.name }}</h5>
    <dl class="dl-horizontal">
        <dt>Spell DC</dt>
        <dd>{{ class.spelldc }} + spell level</dd>
        <dt>Cantrips</dt>
        <dd>{{ class.cantrips|join:', ' }}</dd>
        <dt>Spells</dt>
        <dd>{{ class.spells|join:', ' }}</dd>
    </dl>
</div>
<div ng-show="npc.race.spells.length > 0">
    <h5>Race</h5>
    <dl class="dl-horizontal">
        <dt>Spell DC</dt>
        <dd>{{ npc.race.spelldc }} + spell level</dd>
        <dt>Spells</dt>
        <dd>{{ npc.race.spells|join:', ' }}</dd>
    </dl>
</div>